<nav class="navbar">
  <span class="navbar-text h2">
    Employees
  </span>

  <button class="btn btn-primary" type="button" (click)="toggleShowForm()">
    {{ showForm ? '&times;' : 'Add' }}
  </button>
</nav>

<div class="collapse" [class.show]="showForm">
  <app-employee-form
    (success)="successForm($event)"
    (error)="errorForm($event)"
  ></app-employee-form>
</div>

<div *ngIf="!showForm">
  <div
    *ngFor="let employee of employees; trackBy: employee?._id"
    class="card border ac-employee-card"
    [class.border-primary]="isActive(employee._id)"
    (click)="toggleActivation(employee)"
  >
    <div class="card-header" [class.border-primary]="isActive(employee._id)">
      {{ employee.username }}
    </div>
    <div class="card-body" *ngIf="isActive(employee._id)">
      <div>
        <p class="card-text">FirstName: {{ employee.firstName }}</p>
        <p class="card-text">LastName: {{ employee.lastName }}</p>
        <p class="card-text">Is Admin: {{ employee.isAdmin }}</p>
      </div>
      <div class="d-flex justify-content-end">
        <div class="mr-auto p-2">
          <button
            class="btn btn-primary"
            type="button"
            (click)="edit(employee._id)"
          >
            Edit
          </button>
        </div>
        <div class="p-2">
          <button
            class="btn btn-danger"
            type="button"
            (click)="delete(employee._id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
