<nav class="navbar">
  <span class="navbar-text h2">
    Employees
  </span>

  <button class="btn btn-primary" type="button" (click)="toggleShowForm()">
    {{ showForm ? 'X' : 'Add' }}
  </button>
</nav>

<div class="collapse" [class.show]="showForm">
  <app-employee-form></app-employee-form>
</div>

<ul class="list-group" *ngIf="!showForm">
  <li
    *ngFor="let employee of employees; trackBy: employee?._id"
    class="list-group-item"
    [class.active]="isActive(employee._id)"
    (click)="activate(employee)"
  >
    {{ employee.username }}
  </li>
</ul>
