<nav class="navbar navbar-expand-sm bg-light" *ngIf="isLogged()">
  <div class="container-fluid">
    <ul class="navbar-nav" *ngIf="isAdmin()">
      <li class="nav-item home-link">
        <a routerLink="" class="nav-link" routerLinkActive="active">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="reviews" class="nav-link" routerLinkActive="active">
          Reviews
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="admin" class="nav-link" routerLinkActive="active">
          Employees
        </a>
      </li>
    </ul>
    <button class="btn btn-sm btn-outline-primary" (click)="logout()">
      Logout {{ currentEmployee.username }}
    </button>
  </div>
</nav>

<div class="container">
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>
