<nav class="navbar navbar-expand-sm bg-light" *ngIf="loginItem$ | async">
  <div class="container-fluid">
    <ul class="navbar-nav" *ngIf="(loginItem$ | async).isAdmin">
      <li class="nav-item ac-home-link">
        <a routerLink="" class="nav-link" routerLinkActive="active">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="review" class="nav-link" routerLinkActive="active">
          Reviews
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="employee" class="nav-link" routerLinkActive="active">
          Employees
        </a>
      </li>
    </ul>
    <button class="btn btn-sm btn-outline-primary" (click)="logout()">
      Logout {{ (loginItem$ | async).username }}
    </button>
  </div>
</nav>

<div class="container">
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>
