<nav class="navbar">
  <span class="navbar-text h2">
    Assign
  </span>

  <button
    class="btn btn-primary"
    type="button"
    [routerLink]="['/review', { active: review._id }]"
  >
    &times;
  </button>
</nav>
<div class="card border ac-card-bottom border-primary">
  <div class="card-header border-primary d-flex justify-content">
    <span class="mr-auto">{{ review.employee.username }}</span>
    <span class="card-text font-weight-bold">
      {{ review.active ? 'Active' : 'Not active' }}
    </span>
  </div>
  <div class="card-body" (click)="toggleActivation(review)">
    <div class=" border m-2 p-2">
      <p class="card-text bold border-bottom">
        Questions:
      </p>
      <p class="card-text" *ngFor="let question of review.questions">
        {{ question }}
      </p>
    </div>
  </div>
</div>
<form [formGroup]="assignForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="employee">Add reviewer</label>
    <select
      formControlName="employee"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && formControls.employee.errors }"
    >
      <option [ngValue]="null" disabled>Choose employee</option>
      <option
        *ngFor="let employee of employees; let i = index"
        [ngValue]="employee"
      >
        {{ employee.username }}
      </option>
    </select>
    <div
      *ngIf="submitted && formControls.employee.errors"
      class="invalid-feedback"
    >
      <div *ngIf="formControls.employee.errors.required">
        Employee is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-warning">Add reviewer</button>
    <img
      *ngIf="loading"
      class="pl-3"
      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
  </div>
</form>
